In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("student.db")
con.execute("create table newstudents (id int, name text, age int)")
con.execute("insert into newstudents values (12, 'zhangsan', 19)")
con.execute("insert into newstudents values (13, 'lisi', 20)")

In [3]:
def check(con, name):
    sql = f"select * from newstudents where name = '{name}'"
    print(sql)
    cursor = con.execute(sql)
    for entry in cursor:
        print(entry)

In [4]:
check(con, "zhangsan")

select * from newstudents where name = 'zhangsan'
(12, 'zhangsan', 19)

In [5]:
check(con, "zhouwu'--")#单引号被注释掉了

select * from newstudents where name = 'zhouwu'--'

In [6]:
#更改上面语句使其总是为真
check(con, "zhouwu' or True--")
#sql注入攻击

select * from newstudents where name = 'zhouwu' or True--'
(12, 'zhangsan', 19)
(13, 'lisi', 20)

In [7]:
def check2(con, name):
    sql = "select * from newstudents where name = ?"
    cursor = con.execute(sql, (name,))
    for entry in cursor:
        print(entry)

In [8]:
check2(con, "zhangsan")

(12, 'zhangsan', 19)

In [9]:
check2(con, "zhouwu' or TRUE--")

In [10]:
data = [
    (125, "zhouwu", 20),
    (126, "wangliu", 21),
    (127, "qiqi", 20),
]

In [11]:
con.executemany("insert into newstudents values (?, ?, ?)", data)、

SyntaxError: invalid character '、' (U+3001) (1527922341.py, line 1)

In [12]:
con.executemany("insert into newstudents values (?, ?, ?)", data)

In [13]:
con.executescript("""
insert into ****;
insert into ****;""")

OperationalError: near "*": syntax error

In [14]:
import pickle
student = {"name", "zhangsan", "age"}
with open("student.p", "w") as f:
    pickle.dump(student, f)

TypeError: write() argument must be str, not bytes

In [15]:
import pickle
# 创建一个字典，包含学生的信息
student = {"name":"zhangsan", "age": None}
# 以二进制模式打开文件
with open("student.p", "wb") as f:
    # 使用 pickle.dump 存储字典对象
    pickle.dump(student, f)

In [16]:
with open("student.p", "rb") as f:
    loaded = pickle.load(f)

In [17]:
dumped = pickle.dumps(student)

In [18]:
type(dumped)

bytes

In [19]:
load_from_bytes = pickle.loads(dumped)

In [20]:
load_from_bytes

{'name': 'zhangsan', 'age': None}